# Django Security
DJANGO_SECRET_KEY=change_this_to_a_random_secure_secret_key
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

# User 1 (Admin) Credentials
ADMIN_USERNAME=Zathu
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_this_password
SETLISTFM_USER=Zathu

# External APIs
SETLISTFM_KEY=your_setlistfm_api_key_here
CONTACT_EMAIL=your_email@example.com
CARTO_API_KEY=cb1_2exf_1_3b2a43a7cdd980ffef0b756c
