# Environment variables / secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Output & Cache
cache/
data/
*.sqlite3
*.html
!src/templates/*.html
!templates/**/*.html

# OS metadata
.DS_Store
Thumbs.db

